[Unit]
Description=CFW Sercice
After=multi-user.target network.target nss-lookup.target
[Service]
User=root
WorkingDirectory=/data/wwwroot/domian.com
ExecStart=/root/miniforge3/envs/py-cfw/bin/python /etc/cfw/server.py
Restart=on-failure
[Install]
WantedBy=multi-user.target