[Unit]
Description=CFW Sercice
After=multi-user.target network.target nss-lookup.target
[Service]
User=root
WorkingDirectory=/etc/cfw
ExecStart=/etc/cfw/py39/bin/python /etc/cfw/server.py
Restart=on-failure
[Install]
WantedBy=multi-user.target